$bottom-divider-height: 2px;


.host {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tab-bar {
  width: auto;

  // & :global .mdc-tab__text-label {
  //   margin-bottom: $bottom-divider-height;
  // }
  & :global {
    .mdc-tab__text-label, .mdc-button__label {
      margin-bottom: $bottom-divider-height;
    }
  }
}


.bottom-divider {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: $bottom-divider-height;
  background-color: var(--mdc-theme-fg-divider);
  z-index: -1;
}

.bottom-divider-spacer {
  margin-bottom: $bottom-divider-height;
}
