@use 'sass:math';
@use '../../../../media-query';
@use '../../../../material';
@use '../../../../utils';


$simple-color-count: 10;
$accent-color-count: 4;
$color-count: $simple-color-count + $accent-color-count;


$label-count: 19;


.host {
  overflow-y: auto;
  background-color: var(--mdc-theme-fg-divider);
}


.palette {
  display: grid;

  grid-template-columns: repeat($color-count + 1, 1fr);
  grid-template-rows: repeat($label-count + 1, 1fr);
  gap: 1px;

  align-items: stretch;

  content-visibility: auto;
}


.label, .key {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  min-width: 40px;

  font-size: 14px;
  text-transform: capitalize;
}

.label {
  color: var(--mdc-theme-fg-secondary-text);
  background-color: var(--mdc-theme-bg-primary);
}

.key {
  aspect-ratio: 1 / 1;
}

.color {
  cursor: pointer;

  font-size: 0px;

  transition-property: border-radius;
  transition-timing-function: material.transition-timing-function(ease-in-out);
  transition-duration: material.transition-duration(very-fast);

  &:hover {
    border-radius: 20%;
  }
}

.activated-color.color {
  border-radius: 50%;
  transition-duration: material.transition-duration(swift); // 丸くなる時に反映
}

.empty-color {
  aspect-ratio: initial;
  -ms-grid-column-span: 4;
  grid-column: span 4;
}


.shown-shade {
  .color {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size: 12px;
  }
  
  .activated-color {
    border-bottom-right-radius: 0;
  }
}


.black {
  color: material.$black-text;
}
.white {
  color: material.$white-text;
}



@include media-query.mp {
  .label {
    font-size: 12px;
  }
}
