@use '../../../../material';
@use '../../../../utils';

$simple-color-count: 10;
$accent-color-count: 4;
$color-count: $simple-color-count + $accent-color-count;

.host {
  width: 100%;
  flex-shrink: 0;
}


.palette {
  background-color: var(--mdc-theme-fg-divider);

  display: -ms-grid;
  display: grid;

  -ms-grid-rows: auto;
  @include utils.repeat-grid-template-columns(($color-count + 1, 1px), 1fr);
  row-gap: 1px;
}


.label, .shade {
  font-size: 14px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  background-color: var(--mdc-theme-bg-primary);
}

.label {
  text-transform: capitalize;
  // border-width: 1px 1px 0 0;
}

.shade {
  aspect-ratio: 1 / 1;
  // border-width: 0 1px 1px 0;
}


.color {
  font-size: 10px;
  aspect-ratio: 1 / 1;
  transition-property: border-radius;
  transition-duration: material.transition-duration(swift);
  transition-timing-function: material.transition-timing-function(ease-in-out);
}

.active-color {
  border-radius: 50%;
}

.empty-color {
  aspect-ratio: initial;
  -ms-grid-column-span: 4;
  grid-column: span 4;
}


.black {
  color: material.$black-text;
}
.white {
  color: material.$white-text;
}
