$height: 48px;


.host {
  display: flex;
  align-items: center;
  justify-content: space-between;


  height: $height;
  
  padding: 0 8px;
  border-bottom: 2px solid var(--mdc-theme-fg-divider);
  box-sizing: border-box;
}


.h1 {
  font-size: 18px;
  margin: 0 16px;
}


.link {
  text-decoration: none;

  &:visited, &:active {
    color: inherit;
  }
}


.button {
  height: $height;
  padding: 0 16px;
  text-transform: initial;

  :global .mdc-button__ripple {
    border-radius: 0;
  }
}


.icon-button {
  margin: 0 8px;
}
