@use '../theme';


$tab-text-color: var(--mdc-theme-fg-text, theme.$light-text);
@use '@material/tab' with (
  $text-label-color-default: $tab-text-color,
  $icon-color-default: $tab-text-color
);

@use '@material/tab-bar';
@use '@material/tab-scroller';
@use '@material/tab-indicator';


@mixin themes {
  @include tab-bar.core-styles();
  @include tab-scroller.core-styles();
  @include tab-indicator.core-styles();
  @include tab.core-styles();


  .mdc-tab {
    @include theme.custom-ripple-transition();
  }
}
