@use './app/material';

@include material.styles();

body {
  margin: 0;
  overflow-y: scroll;
}

main {
  display: block;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

svg, text {
  fill: currentColor;
}
line {
  stroke: currentColor;
}

@mixin utility-fill-classes($key) {
  .mdc-theme-fill-#{$key} {
    fill: material.get-color-value(bg, $key);
  }
}
@include utility-fill-classes(primary);
@include utility-fill-classes(secondary);
@include utility-fill-classes(tertiary);
@include utility-fill-classes(card);

.mdc-theme-fill-divider {
  $color: material.get-color-value(fg, divider);
  fill: $color;
  stroke: $color;
}
